<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.SysPermissionRepository">
  <!--<resultMap id="BaseResultMap" type="com.qf.domain.SysPermission">-->
    <!--<id property="permissionId" column="permission_id"></id>-->
    <!--<result property="perName" column="per_name"></result>-->
    <!--<result property="menuName" column="menu_name"></result>-->
  <!--</resultMap>-->
  <!--&lt;!&ndash;<sql id="Base_Column_List">-->
    <!--permission_id, per_name, menu_name-->
  <!--</sql>&ndash;&gt;-->

  <!--<select id="selectPermissionByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">-->
    <!--select p.* from-->
    <!--users u,-->
    <!--tb_sys_role r,-->
    <!--tb_sys_permission p,-->
    <!--tb_user_role ur,-->
    <!--tb_role_permission rp-->
    <!--where u.id =ur.user_id and ur.role_id =r.role_id-->
    <!--and r.role_id = rp.role_id and rp.permission_id =p.permission_id and u.name=#{name}-->
  <!--</select>-->



</mapper>